.footer {
    width: 79%;
    margin: 241px auto 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-top: 1px solid rgba(84, 84, 84, 0.7);
    &__wrapper {
        margin: -147px 0 0;
    }
    &__logo {
        font-style: $FontStyle;
        font-weight: $FontWeight;
        font-size: 22px;
        line-height: 30px;
        margin: 60px 0 0 10px;
        background-size: contain;
        color: white;
    }
    &__hint {
        font-style: $FontStyle;
        font-weight: $FontWeight;
        font-size: 12px;
        line-height: 18px;
        color: #47474C;
        margin: 20px 0 0 10px;
    }
    &__copyright {
        font-style: $FontStyle;
        font-weight: $FontWeight;
        font-size: 12px;
        line-height: 18px;
        text-align: right;
        color: #47474C;
        margin: -18px -5px 0 0;
    }
    input {
        @include input;
        width: 350px;
        margin: 230px -5px 0 10px;
        &:hover {
            background: rgba(142, 142, 152, 0.3);
        }
    }

    button {
        @include button;
        width: 221px;
        height: 50px;
    }
    }
@media (max-width: 901px) {
    .footer {
        width: 87%;
        margin-top: 209px;
    }
}
@media (max-width: 645px) {
    .footer {
        width: 87%;
        margin: 177px 0 0 10px;
    }
}
@media (max-width: 365px) {
    .footer {
        width: 96%;
        margin: 177px 0 0 10px;
    }
}
@media (max-width: 901px) {
    .footer__copyright {
        margin: 58px 0 0 12px;
        text-align: left;
    }
}
@media (max-width: 645px) {
    .footer__copyright {
        margin: 41px 0 0 10px;
        text-align: left;
    }
}
@media (max-width: 901px) {
    .footer__hint {
        margin-top: 18px;
    }
}
@media (max-width: 645px) {
    .footer__hint {
        margin-top: 10px;
    }
}
@media (max-width: 645px) {
    .footer__logo {
        width: 87%;
        font-size: 20px;
        line-height: 28px;
        margin-top: 30px;
    }
}
@media (max-width: 645px) {
    .footer__wrapper {
        display: block;
        max-width: 450px;
        margin-top: -48px;
    }
}
@media (max-width: 750px) {
    .footer input {
        width: 210px;
    }
}
@media (max-width: 645px) {
    .footer input {
        width: 230px;
    }
}
@media (max-width: 750px) {
    .footer button {
        width: 200px;
    }
}
@media (max-width: 525px) {
    .footer button {
        width: 50px;
    }
}