.guarantee {
    margin: 120px 0 0 160px;
    padding: 0;
    @include text;
}
@media (max-width: 901px) {
    .guarantee {
        margin: 120px 0 0 60px;
        font-size: 20px;
        line-height: 30px;
    }
}
@media (max-width: 525px) {
    .guarantee {
        margin: 70px 0 0 20px;
        font-size: 12px;
        line-height: 18px;
    }
}