.item {
    max-width: 550px;
    height: 364px;
    background-color: #1C1C1E;
    border-radius: 16px;
    &:hover {
        @include hover;
    }
    &__mark {
        font-size: 18px;
        line-height: 18px;
        color: #8E8E98;
        margin: 39px 0 0 37px;
    }
    &__title {
        font-size: 32px;
        line-height: 32px;
        color: #FFFFFF;
        margin: 20px 0 0 37px;
    }
    &__subtitle {
        width: 80%;
        @include text;
        margin: 41px 0 0 37px;
    }
    &__price {
        font-size: 14px;
        line-height: 14px;
        color: #25E197;
        margin: 41px 0 0 37px;
    }
}
@media (max-width: 901px) {
    .item {
        max-width: 648px;
    }
}
@media (max-width: 635px) {
    .item {
        width: 87vw;
    }
}
@media (max-width: 525px) {
    .item {
        max-height: 283px;
    }
}
@media (max-width: 901px) {
    .item__mark {
        margin: 36px 0 0 39px;
    }
}
@media (max-width: 525px) {
    .item__mark {
        margin: 21px 0 0 20px;
    }
}
@media (max-width: 525px) {
    .item__title {
        font-size: 24px;
        line-height: 32px;
        margin: 10px 0 0 20px;
    }
}
@media (max-width: 525px) {
    .item__subtitle {
        width: 86%;
        font-size: 12px;
        line-height: 18px;
        margin: 28px 0 0 20px;
    }
}
@media (max-width: 525px) {
    .item__price {
        font-size: 12px;
        line-height: 18px;
        margin: 100px 0 0 20px;
    }
}