.lead {
  margin: 120px 0 0 121px;
  width: 81%;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
  gap: 19px;
  list-style-type: none;
  margin: 0;
}

@media (max-width: 1279px) {
  .lead {
    margin: 48px 4.7% 0;
  }
}
@media (max-width: 1023px) {
  .lead {
    margin: 48px 0 0;
  }
}
@media (max-width: 767px) {
  .lead {
    width: 100%;
  }
}
@media (max-width: 424px) {
  .lead {
    margin-top: 48px;
  }
}
