.repair {
    display: flex;
    margin: 230px 0 0 160px;
}
@media (max-width: 901px) {
    .repair {
        display: inline;
        margin: 0;
    }
}
@media (max-width: 901px) {
    .repair__input {
        width: 426px;
    }
}
@media (max-width: 425px) {
    .repair__input {
        width: 229px;
    }
}
